/* PHASE 7: Online */
.online {
    background-color:#0c0;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 12px;
    padding: 5px 30px;
    font-weight: 700;
    transform: rotate(-45deg) translateX(-25%);
    position: absolute;
    top: -10px;
    left: -10px;
    display: block;
    box-shadow: 0 1px 0 0 #070;
}

.profile-picture {
    overflow: hidden;
}

/* 
div.a {
  transform: rotate(20deg);
}

div {
  transform: translate(50px, 100px);
} */